MONGODB_URL="mongodb://127.0.0.1:27017/book_management"
DATABASE_NAME="book_management"
JWT_SECRET="bookmanagement"
JWT_ALGORITHM="HS256"
JWT_EXPIRY_HOURS="24"
ALLOWED_ORIGINS='["http://localhost:3000", "http://127.0.0.1:3000"]'
